* {
  font-family: sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 8px 9px;
  color: #000;
}

article,
aside,
details,
div,
header,
hgroup,
footer,
figure,
figcaption,
menu,
nav,
section,
summary,
ul,
main {
  display: block;
}

li {
  text-align: -webkit-match-parent;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}

.franklin {
  font-family: "franklin-gothic-urw", sans-serif;
}

.minion {
  font-family: "minion-pro-display", serif;
}

.le-monde {
  font-family: "le-monde-livre-std", serif;
}

.adobe-text {
  font-family: "adobe-text-pro", serif;
}

#header-nav-bar {
  height: 36px;
  padding: 8px 15px 3px;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
}

#mobile-menu {
  left: 10px;
  position: absolute;
}

.svg16-16 {
  height: 16px;
  width: 16px;
}

#masthead-mobile-logo {
  display: block;
  width: 189px;
  height: 26px;
  margin: 5px auto 0;
}

#account-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  top: 9px;
}

#header-action-bar {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 20px 10px;
  border-bottom: 1px solid #e2e2e2;
}

#todays-date {
  font-weight: 500;
  font-size: 12px;
  color: #121212;
}

@media (max-width: 739px) {
  #today-paper {
    display: none;
  }
}

#subscribe-login {
  font-weight: 400;
}

#subscribe,
#login {
  display: inline-block;
  font-size: 10px;
  color: #326891;
  height: 12px;
  text-transform: uppercase;
}

#login {
  margin-left: 4px;
  padding-left: 8px;
  border-left: 1px solid #cccccc;
}

.mobile-portal {
  display: none;
}

.mobile-portal .main-logo {
  display: block;
  height: 26px;
  margin: 13px auto 9px;
  width: 189px;
}

.mobile-portal .content {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  position: fixed;
  z-index: 1000000120;
}

.mobile-portal .mobile-nav {
  border-top: 1px solid #ebebeb;
  padding: 20px 20% 0px;
}

.mobile-portal .close-modal {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  color: black;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 11px 12px 8px;
  display: inline-block;
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
}

.mobile-portal form div {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  padding: 7px 0px;
  position: relative;
  width: calc(100% - 47px);
}

.mobile-portal form input {
  border: 1px solid #e2e2e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666666;
  font-size: 11px;
  font-weight: normal;
  height: 35px;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin: 0px;
  padding: 1px 40px 0px 10px;
  vertical-align: middle;
  width: 100%;
}

.mobile-portal form button {
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 35px;
  font-weight: bold;
  margin: 0px;
  padding: 8px 9px 6px;
  vertical-align: middle;
}

.mobile-portal form button:disabled {
  cursor: default;
  opacity: 0.5;
}

.mobile-portal nav {
  padding-top: 10px;
}

.mobile-portal nav h3 {
  border-top: 1px solid #ebebeb;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 23px;
  padding: 22px 0px 12px;
  text-transform: capitalize;
}

.mobile-portal nav h3:first-of-type {
  border-top: 0px;
}

.mobile-portal nav ul {
  -webkit-columns: auto 2;
          columns: auto 2;
  margin: 0px;
  padding: 0px 0px 19px;
}

.mobile-portal nav ul li {
  line-height: 34px;
  list-style-type: none;
}

.mobile-portal nav ul li a {
  color: #333333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 34px;
  text-decoration: none;
  text-transform: capitalize;
}

.mobile-portal .x-button {
  background: none;
  position: absolute;
  right: 23px;
  top: 17px;
}

.mobile-portal .x-button svg {
  display: block;
  height: 16px;
  width: 16px;
  opacity: 0.95;
}

.mobile-account-portal {
  display: none;
}

.mobile-account-portal .overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000000121;
}

.mobile-account-portal .content {
  outline: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  position: fixed;
  z-index: 1000000120;
}

.mobile-account-portal .main-logo {
  display: block;
  height: 26px;
  margin: 13px auto 9px;
  width: 189px;
}

.mobile-account-portal .close-account-modal {
  background: none;
  position: absolute;
  right: 23px;
  top: 17px;
}

.mobile-account-portal .close-account-modal svg {
  opacity: 0.95;
  display: block;
  height: 16px;
  width: 16px;
}

.mobile-account-portal .link-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 9px 15px;
  text-decoration: none;
}

.mobile-account-portal .link-container .link-left {
  padding: 15px 0px 11px;
  text-align: center;
  vertical-align: baseline;
  width: 50%;
  color: #326891;
  text-transform: uppercase;
}

.mobile-account-portal .link-container .link-right {
  padding: 15px 0px 11px;
  text-align: center;
  vertical-align: baseline;
  width: 50%;
  border-left: 1px solid #e2e2e2;
  color: #326891;
  text-transform: uppercase;
}

.mobile-account-portal .menu-list {
  background-color: white;
  padding: 20px 0px 18px;
}

.mobile-account-portal .menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px 20px;
}

.mobile-account-portal .menu-list ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
}

.mobile-account-portal .menu-list ul li:nth-child(1), .mobile-account-portal .menu-list ul li:nth-child(3) {
  padding-bottom: 15px;
  border-right: 1px solid #e2e2e2;
}

.mobile-account-portal .menu-list ul li:nth-child(2), .mobile-account-portal .menu-list ul li:nth-child(4) {
  padding-left: 4%;
}

.mobile-account-portal .menu-list ul li:nth-child(5) {
  border-right: 1px solid #e2e2e2;
  padding-bottom: 3px;
}

.mobile-account-portal .account-tips {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #f7f7f7;
  border-top: 1px solid #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 175px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 20px 0px 25px;
}

.mobile-account-portal .account-tips div {
  color: #121212;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 16px;
  padding: 11px 15px 3px;
  text-transform: none;
}

.mobile-account-portal .account-tips ul {
  color: #121212;
  float: left;
  font-size: 15px;
  line-height: 17px;
  width: 260px;
  list-style: none;
}

.mobile-account-portal .account-tips ul li {
  padding: 7px 0px;
}

.mobile-account-portal .account-tips span {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  margin-right: 10px;
  position: relative;
  width: 32px;
}

.mobile-account-portal .account-tips span svg {
  display: inline-block;
  height: 25px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 25px;
}

@media only screen and (max-width: 739px) {
  #spotlight {
    padding-bottom: 32px;
  }
}

#spotlight .picture-frame {
  background: #f7f7f5;
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 0 0 66.66666666666666% 0;
}

#spotlight .picture-frame picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.story-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.live {
  font-style: normal;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  color: #121212;
  text-transform: uppercase;
  -webkit-letter-spacing: 1.1px;
  -moz-letter-spacing: 1.1px;
  -ms-letter-spacing: 1.1px;
  letter-spacing: 1.1px;
  font-weight: 800;
  color: #d0021b;
}

.story-headline {
  position: relative;
  font-style: normal;
  margin: 0;
  color: #121212;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: 1.875rem;
  line-height: 2.0625rem;
  font-weight: 700;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: -0.25px;
}

.story-headline-2 {
  position: relative;
  font-style: normal;
  margin: 0;
  color: #121212;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3125rem;
  line-height: 1.4375rem;
  font-weight: 700;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
}

.story-list {
  list-style: none;
  position: relative;
  color: #555;
  font-family: nyt-imperial;
  font-size: 1rem;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
  position: relative;
}

.story-list li {
  margin: 6px 0 0 0;
  position: relative;
  font-size: 1rem;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  line-height: 1.375rem;
}

.story-list li::before {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: -8px;
  top: 8px;
  content: "";
  display: block;
  background: #666;
  position: absolute;
}

.story-desc {
  color: #555;
  font-size: 1rem;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
  position: relative;
}

.story-divider {
  height: 1px;
  background: #b3b3b3;
  margin-left: 24px;
  margin-right: 24px;
}

.story-divider.hard {
  height: 2px;
  background: #121212;
}

.spacing {
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
  background: #b3b3b3;
  margin-bottom: 16px;
}

.spacing-orange {
  padding-top: 8px;
  background-color: transparent;
}

.spacing-yellow {
  padding-top: 12px;
  background-color: transparent;
}

.spacing-blue {
  padding-top: 20px;
  background-color: transparent;
}

.spacing-green {
  padding-top: 16px;
  background-color: transparent;
}

.spacing-red {
  padding-top: 4px;
  background-color: transparent;
}

#current #top-stories::before {
  display: block;
  content: "";
  height: 2px;
  background-color: #121212;
  margin-left: 24px;
  margin-right: 24px;
}

#current .cinemagraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-padding {
  padding-bottom: 32px;
}

.the-great-read {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #121212;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  padding-left: 24px;
  padding-right: 24px;
}

.great-read-frame {
  display: block;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.great-read-frame section {
  margin: 0 auto;
  height: auto;
  width: 100%;
  vertical-align: bottom;
}

.great-read-frame .sub-frame {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.great-read-frame .photo-wrap {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
}

.great-read-frame .photo-wrap.active img,
.great-read-frame .photo-wrap.active .caption {
  opacity: 1;
}

.great-read-frame .photo-wrap img {
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.9s;
  transition: opacity 0.9s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 100%;
}

.great-read-frame .photo-wrap .desktop {
  display: block;
}

.great-read-frame .photo-wrap .mobile {
  display: none;
}

.great-read-frame .photo-wrap .caption {
  bottom: -5px;
  line-height: 1;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.02em;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), 1px 1px 1px rgba(0, 0, 0, 0.35), -1px -1px 1px rgba(0, 0, 0, 0.35);
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 100%;
  z-index: 99;
}

.great-read-frame .photo-wrap .credit {
  color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
}

.great-read-frame .fader {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.great-read-frame .fader .fader-inner {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.great-read-frame .picture-frame {
  background: #f7f7f5;
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 0 0 66.66666666666666% 0;
}

.great-read-frame .picture-frame picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.briefings-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.briefing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 25px;
  width: 100%;
}

.briefing .briefing-image-div img {
  display: block;
  margin-left: 20px;
  width: 60px;
  min-width: 60px;
}

.briefing-title {
  font-weight: 700;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  color: #121212;
  font-size: 1rem;
  line-height: 1.1875rem;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

#opinions .opinions {
  position: relative;
}

#opinions .opinions header {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 8px 25px -20px;
  border-top: 2px solid #121212;
}

#opinions .opinions header a {
  display: inline-block;
}

#opinions .opinions .headshot-frame {
  width: 45px;
  max-width: 45px;
  height: 45px;
  max-height: 45px;
  border-radius: 20px;
  overflow: hidden;
  float: right;
  margin-top: 0;
  margin-left: 12px;
}

#opinions .opinions .headshot-frame .headshot-container {
  width: 100%;
  background-color: #f7f7f5;
  -webkit-animation: 300ms ease-in 0s 1 normal forwards running animation-1m9j9gf;
          animation: 300ms ease-in 0s 1 normal forwards running animation-1m9j9gf;
}

#opinions .opinions .headshot-frame .headshot-container .headshot {
  -webkit-transition: opacity 300ms ease-in-out 0s;
  transition: opacity 300ms ease-in-out 0s;
  opacity: 1;
  display: block;
  width: 100%;
}

#opinions .opinions .opinion-author {
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  font-size: 1.625rem;
  line-height: 1.75rem;
  font-family: nyt-cheltenham;
  font-weight: 500;
  margin-bottom: 8px;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  color: #a19d9d;
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
  margin-top: -3px;
}

#opinions .opinions .opinion-title {
  font-weight: 700;
  margin-top: -3px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  color: #121212;
  font-size: 2.125rem;
  line-height: 2.25rem;
  margin-bottom: 4px;
  -webkit-letter-spacing: 0.15px;
  -moz-letter-spacing: 0.15px;
  -ms-letter-spacing: 0.15px;
  letter-spacing: 0.15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#opinions .opinions .opinion-desc {
  font-size: 1rem;
  line-height: 1.375rem;
  font-style: normal;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  color: #555;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  position: relative;
}

#opinions .opinions .opinion-section-2 {
  display: inherit;
}

#opinions .opinions .opinion-section-2 .sec-opinion {
  position: relative;
}

#opinions .opinions .opinion-section-2 .sec-opinion .sec-opinion-container {
  padding: 20px 25px;
}

#opinions .opinions .opinion-section-2 .sec-opinion:nth-child(n + 4) {
  display: none;
}

#opinions .opinions .opinion-section-2 .opinion-author {
  font-size: 24px;
}

#opinions .opinions .opinion-section-2 .opinion-title {
  font-size: 30px;
}

#opinions figcaption {
  font-size: 0.625rem;
  line-height: 0.75rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  color: #ccc;
  text-align: right;
  margin: 3px 0 0;
  min-height: 12px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#opinions figcaption span {
  color: #ccc;
}

#opinions .photo-container {
  margin: 25px 25px 0;
}

#opinions .info-container {
  padding: 7px 25px 25px;
}

h3.opinion-header {
  display: block;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #121212;
  padding: 14px 0 13px;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  font-weight: 500;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

#editors-picks .ep-header {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 8px 25px -20px;
  border-top: 2px solid #121212;
}

#editors-picks .ep-header .section-header {
  display: block;
  font-weight: 700;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #121212;
  padding: 14px 0 13px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

#editors-picks .ep-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
}

#editors-picks .photo-container {
  margin: 25px 25px 0;
}

#editors-picks .info-container {
  padding: 7px 25px 25px;
}

#editors-picks figcaption {
  font-size: 0.625rem;
  line-height: 0.75rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  color: #ccc;
  text-align: right;
  margin: 3px 0 0;
  min-height: 12px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#editors-picks figcaption span {
  color: #ccc;
}

#editors-picks .story-headline {
  margin: -3px 0px 8px;
}

#editors-picks .cinemagraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}

.more-news .bottom-padding {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: block;
  padding-bottom: 24px;
}

@media only screen and (max-width: 739px) {
  .more-news .bottom-padding {
    padding-bottom: 32px;
  }
}

.more-news .bottom-padding .section-header {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #121212;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  padding-left: 24px;
  padding-right: 24px;
}

.more-news .bottom-padding .more-news-item {
  padding-left: 24px;
  padding-right: 24px;
}

.more-news .bottom-padding .more-news-item source {
  width: 100%;
  vertical-align: bottom;
}

.more-news .bottom-padding .more-news-item figcaption {
  color: #999;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  margin-top: 4px;
  text-align: right;
}

.more-news .bottom-padding .more-news-item figcaption span {
  color: #ccc;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
}

.more-news .bottom-padding .scroll-frame {
  max-width: 100vw;
}

.more-news .bottom-padding .scroll-frame .scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 4px;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding-left: 24px;
}

.more-news .bottom-padding .scroll-frame .scroll-container .scroll-item {
  border-right: 1px solid #b3b3b3;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-right: 20px;
  margin-right: 20px;
  scroll-snap-align: center;
  scroll-margin-left: 20px;
  width: 75%;
}

.more-news .bottom-padding .scroll-frame .scroll-container .scroll-item .scroll-item-header {
  position: relative;
  font-style: normal;
  margin: 0px;
  color: #121212;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.more-news .bottom-padding .scroll-frame .scroll-container .scroll-item:first-child {
  padding-left: 0px;
}

.at-home .bottom-padding {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: block;
  padding-bottom: 24px;
}

@media only screen and (max-width: 739px) {
  .at-home .bottom-padding {
    padding-bottom: 32px;
  }
}

.at-home .bottom-padding .scroll-item-frame {
  position: relative;
  width: auto;
  max-width: calc(100vw - (100vw - 100%));
  margin-left: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.at-home .bottom-padding .scroll-item-frame .section-header {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.5px;
  margin-top: -11px;
  font-weight: 700;
  color: #121212;
  margin-left: 24px;
}

.at-home .bottom-padding .scroll-item-container {
  overflow-x: hidden;
  width: calc(100vw - (100vw - 100%));
  margin: 0px;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform 500ms ease 0s;
  transition: -webkit-transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s;
  overflow-x: scroll;
  margin-left: 0px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
  scroll-padding-left: 24px;
  padding: 0px 24px;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail .at-home-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline-block;
  scroll-snap-align: start;
  margin-right: 16px;
  text-align: left;
  margin-bottom: 5px;
  border: 0px;
  padding: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 0%;
          flex: 0 1 0%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: calc(75% + 28px);
  min-width: calc(75% + 28px);
}

.at-home .bottom-padding .scroll-item-container .scroll-rail .at-home-item .picture-frame {
  background: #f7f7f5;
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 0 0 66.66666666666666% 0;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail .at-home-item .picture-frame picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail .at-home-item:last-child {
  padding-right: 24px;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail figcaption {
  color: #999;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  margin-top: 4px;
  text-align: right;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail figcaption span {
  color: #ccc;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
}

.at-home .bottom-padding .scroll-item-container .scroll-rail .at-home-item-header {
  position: relative;
  font-style: normal;
  margin: 0;
  color: #121212;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3125rem;
  line-height: 1.4375rem;
  font-weight: 700;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
}

.at-home .bottom-padding button {
  background-color: transparent;
  width: 26px;
  height: 26px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0px;
  position: absolute;
  top: calc(40% + 20px);
  right: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13' cy='13' r='12.5' fill='white' stroke='%23E2E2E2' /%3E%3Cpath d='M10.3984 7.7998L15.5984 12.9998L10.3984 18.1998' stroke='%23303030' strokeWidth='1.5' /%3E%3C/svg%3E");
  display: none;
}

@media only screen and (max-width: 739px) {
  .features .bottom-padding {
    padding-bottom: 32px;
  }
}

.features .section-header {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #121212;
  padding: 0 24px;
}

.features .feature-frame {
  padding-left: 24px;
  padding-right: 24px;
}

.features .feature-frame figcaption {
  color: #999;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  margin-top: 4px;
  text-align: right;
}

.features .feature-frame figcaption span {
  color: #ccc;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
}

.features .scroll-container {
  max-width: 100vw;
}

.features .scroll-container .scroll-rail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 4px;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding-left: 24px;
}

.features .scroll-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  scroll-snap-align: center;
  scroll-margin-left: 20px;
  width: calc(50% - 32px);
  padding-right: 16px;
  margin-right: 0px;
  border-right: 0px;
}

.features .scroll-item:first-child {
  padding-left: 0px;
}

.features .picture-frame {
  background: #f7f7f5;
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 0 0 66.66666666666666% 0;
}

.features .picture-frame.scroll {
  padding: 0 0 100%;
}

.features .picture-frame picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.features .scroll-item-header {
  position: relative;
  font-style: normal;
  margin: 0px;
  color: #121212;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}

@media only screen and (max-width: 739px) {
  .bottom-padding {
    padding-bottom: 32px;
  }
}

.science-tech .bottom-padding {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: block;
  padding-bottom: 24px;
}

@media only screen and (max-width: 739px) {
  .science-tech .bottom-padding {
    padding-bottom: 32px;
  }
}

.science-tech .bottom-padding .section-header {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #121212;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  padding-left: 24px;
  padding-right: 24px;
}

.science-tech .bottom-padding .sci-tech-item {
  padding-left: 24px;
  padding-right: 24px;
}

.science-tech .bottom-padding .sci-tech-item source {
  width: 100%;
  vertical-align: bottom;
}

.science-tech .bottom-padding .sci-tech-item figcaption {
  color: #999;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  margin-top: 4px;
  text-align: right;
}

.science-tech .bottom-padding .sci-tech-item figcaption span {
  color: #ccc;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
}

.pop-play-header {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 8px 25px -20px;
  border-top: 2px solid #121212;
}

.pop-play-header h3 {
  display: block;
  font-weight: 700;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #121212;
  padding: 14px 0 13px;
  margin: 0;
  font-size: inherit;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.popular-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular-container {
  padding: 20px 25px;
}

.popular-container h2 {
  font-weight: 700;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  margin-top: -3px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  color: #121212;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  margin-bottom: 8px;
  -webkit-font-smoothing: antialiased;
}

.popular-container p {
  font-size: 1rem;
  line-height: 1.375rem;
  font-style: normal;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  color: #555;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  position: relative;
}

.popular-container .popular-image-frame {
  float: right;
  width: 40%;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.popular-container .popular-image-frame .popular-image-container {
  display: block;
  width: 100%;
  background-color: #f7f7f5;
  -webkit-animation: 300ms ease-in 0s 1 normal forwards running;
          animation: 300ms ease-in 0s 1 normal forwards running;
}

.popular-container .popular-image-frame .popular-image-container img {
  display: block;
}

.play .play-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.play .play-box .frame {
  padding: 20px 25px;
}

.play .play-box .play-image-frame {
  width: 60px;
  float: right;
  margin: 5px 0px 0px 10px;
}

.play .play-box .play-image-frame .play-image-container {
  width: 100%;
  background-color: #f7f7f5;
  -webkit-animation: 300ms ease-in 0s 1 normal forwards running;
          animation: 300ms ease-in 0s 1 normal forwards running;
}

.play .play-box .play-header-frame {
  position: relative;
  line-height: 0.8125rem;
}

.play .play-box .play-header-frame .play-header {
  font-weight: 700;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  margin-top: -3px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  color: #121212;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  margin-bottom: 8px;
  -webkit-font-smoothing: antialiased;
}

#site-index::before {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
}

.site-index-container {
  padding: 0 20px;
}

.site-index-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.site-index-logo {
  display: block;
  height: 44px;
  width: 184px;
}

.accordion-item header {
  cursor: pointer;
  margin: 0px;
  border-top: 1px solid #ebebeb;
  color: #333333;
  font-size: 13px;
  font-weight: 700;
  height: 44px;
  letter-spacing: 0.04rem;
  line-height: 44px;
  text-transform: uppercase;
}

.accordion-item header.active {
  color: #b3b3b3;
}

.accordion-item .accordion-item-body {
  display: none;
}

.accordion-item .accordion-item-body.active {
  display: block;
}

.accordion-item .accordion-item-body .accordion-list {
  list-style: none;
  margin: 0px;
  -webkit-columns: auto 2;
          columns: auto 2;
  padding: 0px 0px 15px;
}

.accordion-item .accordion-item-body .accordion-list .accordion-list-item {
  height: 34px;
  line-height: 34px;
  list-style-type: none;
}

.accordion-item .accordion-item-body .accordion-list .accordion-list-item .accordion-list-item-link {
  color: #333333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  text-decoration: none;
  text-transform: capitalize;
}

.accordion-item .accordion-item-body .accordion-list .accordion-list-item .smartphone {
  position: inherit;
}

.footer-nav {
  border-top: 1px solid #ebebeb;
  text-align: center;
  font-size: 11px;
  padding-top: 9px;
  padding-bottom: 25px;
}

.footer-copyright {
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
}

.footer-links {
  list-style: none;
  line-height: 8px;
  margin: 0 0 35px;
  padding: 0;
}

.footer-link {
  display: inline-block;
  line-height: 20px;
  padding: 0 10px;
}

.footer-link-a {
  font-weight: 400;
  color: #666;
  padding: 10px 0;
}
/*# sourceMappingURL=styles.css.map */